body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-data {
  padding: 5px ;
  margin: 10px;
}
.home {
  text-align: center;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
}

footer {
  margin-top: 20px;
}
